{% extends "root.html" %}


{% block nav %}
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <h1>About</h1>

            <p>
<h2>Purpose:</h2>
<i>Zeke</i> is an educational platform implemented using Python which allows students and researchers interested in the modeling of infectious diseases to learn both modeling and scientific computing skills in an interactive environment, without forcing theoretical, subject matter and computational skills to be developed simultaneously.

            </p>
            <p>
<h2>Philosophy:</h2>
The goal of <i>Zeke</i> is to develop general purpose, transferrable computational science skills. As such, the libraries used should be widely available and in common usage - for example, SciPy for scientific computing functions, and Django as a web front-end, rather than bespoke functions, unless no other option is available.

Similarly, the models being used should be clear, well-documented, and capable of being replicated easily.
            </p>
            
            <p>
<h2>Contributors:</h2>
<ul>
	<li>Eric Lofgren</li>
	<li>Alex Clark</li>
</ul>

            </p>            

        </div>
    </div>

{% endblock %}
