{% extends "root.html" %}
{% load mathjax %}

{% block nav %}
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-9">
            <h1>Contact</h1>
            <p>
			<i>Zeke</i> project administrators can be reached for questions, comments, 		support, etc. at:
			<ol>
	<li>Email: zekemodels {at} gmail {dot} com</li>
	<li>Twitter: @GermsAndNumbers</li>
</ol>
            </p>
            <h1>Contributing</h1>
            <p>
            <i>Zeke</i> is an open-source project {% mathjax_scripts %} $$1 + 1 = 2$$, and actively welcomes new contributors. Interested users are invited to contribute new models, improved front end code, or new back-end implementations to improve performance. Please see <a href= http://www.github.com/epimodels/zeke> github.com/epimodels/zeke </a> for more information.
        </div>
    </div>

{% endblock %}
