{% extends "root.html" %}

{% block nav %}
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-lg-9">
            <h1>Contact</h1>

            <p>

Conveniently disseminate market positioning experiences vis-a-vis bricks-and-clicks quality vectors. Globally transition stand-alone best practices and econom
ically sound benefits. Enthusiastically revolutionize user-centric imperatives without one-to-one methodologies.

            </p>
        </div>
    </div>

{% endblock %}
